*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
*.ipr
*.iws
*.jks
*.keystore
.externalNativeBuild
.cxx/
google-services.json
.DS_Store
Thumbs.db
